*{
    margin: 0;
    padding:0px;
    box-sizing: border-box;
}

#Green
{
    background-color: #198d19;
    position:relative;
    height:100px;
    width:100vw;
}
body{
    background-color: white;
}
.Message
{
    background-color: white;
    position:absolute;
    margin-top:50px;
    height:720px;
    width:1400px;
    margin-left: 100px;
    
}
#container
{
    display: flex;
    justify-content: space-between;
}
#AllChat
{
    width:500px;
    height:720px;
    background-color: white;
    border-right: black;
    box-shadow: 8px 0px 12px rgba(0, 0, 0, 0.15);
    
}
.SingleChat
{
    position: relative;
    width:100%;
    max-height: 100%;
   

}
#ChatTop
{
    background-color: #e6e6e6;
    height:70px;
    width:100%;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;

}
#AllChatTop
{
    background-color: 	#e6e6e6;
    height:70px;
    width:500px;
}

.circle-image {
    width: 50px; 
    height: 50px;
    object-fit: cover; 
    border-radius: 50%;
    border: 3px solid #fff;
    margin-left: 20px;
    margin-top: 10px;
    margin-right: 300px;
}

.Message-image
{
    height:40px;
    width:40px;
    margin-bottom: 10px;;
}
.Contact
{
    height:4rem;
    width:500px;
    border-bottom: 2px solid #D3D3D3;
    font-size: 1.5rem;
    padding-left: 5px;
    img
    {
        height:30px;
    }
}
.Contact:hover{
    background-color: #D3D3D3;
    transition: 0.5s;
}

.Chat
{
    height:660px;
    position: relative;
    width:100%;
    background-color: black;
    background-image: url("28719144-86dc0f70-73b1-11e7-911d-60d70fcded21.png");
}
.TypeMessage
{
    height:50px;
    width:700px;
    border: 2px solid #D3D3D3;
    background-color: white;
    margin-top: 600px;
    position:fixed;
    border-radius: 40px;
    margin-left:50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.Emoji
{
    height:30px;
    margin-top: 7px;
    margin-left: 10px;
}
.TypeText
{
    height:30px;
    width:20rem;
}
.VoiceMessage
{
    height:50px;
    margin-top: 600px;
    position: absolute;
    margin-left:47rem;
    img{
        height:40px;
    }
}
.Footer
{
    display: flex;
    justify-content: flex-start;
    position:fixed;
}
input:focus {
    outline: none;
    box-shadow: none;
    border:none; /* Optional: remove any shadow if applied */
  }

  .ChatMessage
  {
    background-color: #dcf8c6;
    border-radius: 10px;
    margin: 5px 0;
    align-self: flex-end;
    position: absolute;

  }
  .message
 {
    background-color: #dcf8c6;
    border-radius: 10px;
    margin: 5px 0;
    align-self: flex-end;
    position: absolute;
 }